body {
    height: 1930px;
    width: 100%;
    margin: 0px;
    background-color: #fffffc;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

 header {
    top: 0;
    width: 100%;
    height: 200px;
    border-style: solid;
    border-color: #2E2E2E;
} 

.nav-bar {
    width: 100%;
    height: 200px;
    background-color: #fffffc;
    float: left;
    position: relative;
    padding: 0%;
    margin: 0%;
}

.logo-container {
    position: relative;
    width: 25%;
    height: 200px;
    float: left;
}

.nav-list{
    float: left;
    text-align: center;
    width: 50%;
    height: 200px;
    padding: 0%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;   
} 

.nav-img-container {
    /* position: relative; */
    width: 25%;
    height: 200px;
    float: left;
}

.nav-list .list-item {
    padding-top: 55px;
    height: 15px;
    width: 250px; 
    font-size: 3.5em;
    color: #2e2e2e;
    font-family: 'Open Sans';
}

.header-nav-img {
    float: right;
    clear: left;
    height: 200px;
    width: 100%;
    /* right: 0; */
} 

.logo {
    width: 300px;
    margin: 0px;
} 

.default-logo {
    width: auto;
    line-height: 22px;
    float: left;
    z-index: 2;
    margin: 0px 30px;
}

.hero {
    background-image: url(../img/sensewithdata.png);
    width: 200px;
    height: 100px;
    border: 3px solid #000000;
    position: relative;
    top: 300px;
    left: 43%;
}
 
.hero-content {
    background-color: peachpuff;
    height: 100px;
    width: 100%;
    border: 3px solid palegoldenrod;
}

/* .hero-content h1 {
    text-align: center;
    top: 50%;
} */

 .home-content {
    height: 724px;
    width: 100%;
} 

.content-img {
    position: inline-block;
    width: 48%;
    height: 700px;
    float: left;
    border: solid 15px greenyellow;
    margin: 0 auto;
    padding: 5px;
    background-color: navajowhite;
    background-image: url(..img\b28d988a70587f0e1b4fb1a3bc260bd2.jpg);
}

.content-text {
    position: inline-block;
    height: 700px;
    width: 48%;
    font-family: 'Bungee Outline', cursive;
    float: right;
}

footer {
    z-index: 4;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -658px;
}




.footer-col {
    position: relative;
    height: 300px;
    width: 33.33%;
    background-color: #fffffc;
    float: left;
    color: #2E2E2E;
}

.footer-nav-img {
    transform: rotateY(180deg);    
}

.center-icons{
    /* position: absolute; */
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab, .fas {
    font-size: 9em;
    text-align: right;
    color: #2e2e2e
}



.col3 {
   font-size: 3em;
    
} 