
body {
    height: 1930px;
    width: 100%;
    margin: 0px;
    background-color: #fffffc;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

 header {
    top: 0;
    width: 100%;
    height: 200px;
    border-style: solid;
    border-color: #2E2E2E;
} 

.nav-bar {
    width: 100%;
    height: 200px;
    background-color: #fffffc;
    float: left;
    position: relative;
    padding: 0%;
    margin: 0%;
}

.logo-container {
    position: relative;
    width: 25%;
    height: 200px;
    float: left;
}

.nav-list{
    float: left;
    text-align: center;
    width: 50%;
    height: 200px;
    padding: 0%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;   
} 

.nav-img-container {
    /* position: relative; */
    width: 25%;
    height: 200px;
    float: left;
}

.nav-list .list-item {
    padding-top: 55px;
    height: 15px;
    width: 250px; 
    font-size: 3.5em;
    color: #2e2e2e;
    font-family: 'Open Sans';
}

.header-nav-img {
    float: right;
    clear: left;
    height: 200px;
    width: 100%;
    /* right: 0; */
} 

.logo {
    width: 300px;
    margin: 0px;
} 

.default-logo {
    width: auto;
    line-height: 22px;
    float: left;
    z-index: 2;
    margin: 0px 30px;
}

.hero-content {
    position: relative;
    background: transparent;
}

.hero-content h1 {
    z-index: 2;
    position: absolute;
    top: 175px;
    left: 120px;
    border: 3px solid #FF612E;
    text-align: center;
    font-size: 100px;
    height: 140px;
    font-family: 'Montserrat';
    color: #FF612E;
    } 

.hero-content .content-text-box{
    top: 500px;
    right: 200px;
    z-index: 2;
    height: 600px;
    width: 700px;
    background-color: #2e2e2e;
    position: relative;
    opacity: .90;
    border: 3px solid #fffffc;
    margin: 30px;
    float: right;
}

.hero-content .content-text {
    z-index: 3;
    width: 80%;
    margin: 10%;
    color: #fffffc;
    opacity: 1;
    font-weight: bold;
    text-align: left;
    font-family: 'Open Sans', sans-serif;;
    font-size: 30px;
}

.hero-content .fresno-img {
    z-index: 1;
    position: absolute;
}

footer {
    z-index: 4;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -658px;
}


.footer-col {
    position: relative;
    height: 300px;
    width: 33.33%;
    background-color: #fffffc;
    float: left;
    color: #2E2E2E;
}

.footer-nav-img {
    transform: rotateY(180deg);    
}

.center-icons{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fab, .fas {
    font-size: 9em;
    text-align: right;
    color: #2e2e2e
}



.col3 {
   font-size: 3em;
    
} 